body{
    background: #BD0A2E;
}
h1,div{
    text-align: center;
    color:ghostwhite ;
    font-family: verdana;

}
h2{
    text-align: center;
    color:#BD0A2E ;
    background: white;
}
a{
    text-decoration: none;
    color: white;

}

