body{
    background: #BD0A2E;
}
h1 {
                color:#F8F8FF;
                background: #BD0A2E;
                font-family: verdana;
                text-align: center;
            }
div{
                text-align: center;
                color:white ;
                font-family: verdana;

            }
label, input{
                text-align: center;
                font-family: verdana;
}